<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item to Cart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class='container'>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        {%if user %}
        <p class="welcome">Welcome, {{ user }}! 
        <a href="{{url_for('logout')}}">Logout</a>
        {% if session.get('role') == 'admin' %}
            | <a href="{{ url_for('admin_dashboard') }}">Admin Panel</a>
        {% endif %}

        </p>
        {% else %}
            <p>
                <a href="{{ url_for('login') }}">Log In</a> |
                <a href="{{ url_for('signup') }}">Sign Up</a>
            </p>
        {% endif %}
    <h1>Add An Item to Cart</h1>

    {% if message %}
        <p class="error">{{ message }}</p>
    {% endif %}

    <div class="form-row">
        <!-- Add Item Form -->
        <form action="{{url_for('cart.index')}}" method="POST" class="add-form" enctype='multipart/form-data'>
            <label for="item">Enter The Name of Item</label>
            <input type="text" id="item" name="item" required>
            
            <label for="quantity">Enter quantity of product </label>
            <input type="number" id="quantity" name="quantity" min="1" value="1">


            <label for='image'> Upload Product Image </label> 
            <input type='file' id="image" name='image' accept="image/*">
            <button type="submit">Add Item to Cart</button>
        </form>

        <!-- Search Form -->
        <form action="{{url_for('cart.index')}}" method="GET" class="search-form">
            <label for="search">Search</label>
            <input type="text" name="search" id="search" value="{{search_query}}">
            <button type="submit">Search</button>
        </form>
    </div>

    <a href="{{url_for('cart.show_cart')}}">Show List of Items in Cart</a>

    {% if search_query %}
        <h3>Search result for "{{search_query}}":</h3>

        {% if search_results %}
            <ul>
                {% for item in search_results %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No matching items found.</p>
        {% endif %}
    {% endif %}
        </div>
</body>
</html>
