<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add An Item to cart</h1>
    {% if message %}
        <p style="color: red;">{{ message }}</p>
    {% endif %}



    <form action="{{url_for('index')}}" method="POST">
     <label for="item">Enter The Name of Item </label>
     <input type="text" id="item" name="item" required>
     <button type="submit"> Add Item to cart</button>
    </form>
    <br>
    <a href="{{url_for ('show_cart')}}">Show List Of Items In Cart</a>
</body>
</html>